
      


.container{
   padding: 100px 25%;
   background-color:rgb(227, 227, 227);
    
  
}
.heading{
    font-size: 32px;
    font-family: "Abril Fatface", serif;
    margin-bottom: 60px;
    text-align: center;
    

}

.btn{
    display: block;
    padding: 10px 20px;
    border: 1px solid black;
    font-family: "Raleway", sans-serif;
   
    
    width: 120px;
    
    background: transparent; 
    
    margin:0 auto; 
    margin-top: 40px;


}